@{
    ViewData["Title"] = "Welcome to Tiny Clothes";
}
<h1>Tiny Clothes</h1>
<p>Wee Fashion</p>
<div class="card" style="width: 18rem;">
    <img src="https://via.placeholder.com/250" class="card-img-top" alt="Placeholder image"/>
    <div class="card-body">
        <h5 class="card-title">Our products</h5>
        <p class="card-text">
            We sell tiny clothes for your pets and stuffed animals. These are not baby clothes!!
        </p>
    </div>
</div>

<p>
    We do not accept returns or give refunds, at all ever. Sorry for the inconvenience
</p>
